<!DOCTYPE html>
<html>
	<head>
	  <title>Rachael and Jay Wedding | <%= yield(:title) %> </title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->	  
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> -->

	</head>
	<body>    
  <div class="container">
      <div class="hero-unit">
        <div class="head"> <%= yield(:title) %></div> 
        <small> &nbsp &nbsp Rachael and Jay's Wedding </small>
      </div>    
     
      <div class = "row">
         
        <div class="span3 ">
        <ul class="nav nav-tabs nav-stacked">
            <li><%= link_to "Welcome", root_path %></li>
            <li><%= link_to "Venue/Itinerary", venue_path %></li>
            <li><%= link_to "Accomodation", accommodation_path %></li>
            <li><%= link_to "RSVP", rsvp_path %></li>
            <li><%= link_to "Gift List", giftlist_path %></li>
            <li><%= link_to "Friday/Sunday", frisun_path %></li>
        </ul>
        </div>
        <div class = "span9">
          <%= yield %>            
        </div>
      </div>      		
		</div>
	</body>
</html>
